@{
    ViewBag.Title = "Home Page";
}

@*Created by Johannes, Edited by Eva*@

<div class="text-vertical-center">
    <h1>KEA Foosball</h1>

    <h3>Claim the top of the highscore!</h3>
    <br>
    @if (!Request.IsAuthenticated)
    {
        <a href="#" class="btn btn-light btn-lg" data-toggle="modal" data-target="#loginModal">Log in</a>
        <a href="#" id="regModal" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#registerModal">Register</a>
    }

</div>
    <!-- Login Modal -->
    <div class="modal fade hidescroll" id="loginModal" role="dialog" aria-labelledby="logModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @Html.Partial("~/Views/Home/LoginModal.cshtml")
            </div>
        </div>
    </div>

    <!-- Register Modal -->
    <div class="modal fade hidescroll" id="registerModal" role="dialog" aria-labelledby="regModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @Html.Partial("~/Views/Home/RegisterModal.cshtml")
            </div>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}