@using Foosball.Models.FoosballModels
@model Foosball.Models.FoosballModels.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("NakedGameDetails")
<script>
    function dontrun() {
        var date = new Date();
        document.getElementById("Date").value = date.getFullYear() + "." + date.getMonth() + "." + date.getDay();

    }

    dontrun();

</script>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
